body{
  background-color: #ABB7AE;
}
.logo{
  width: 500px;
}
.logodiv{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 75px;
}
.header1{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
h1:hover{
  text-decoration:underline;
}
.introductions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.bodyofthepage{
  background-image: url("/Coffee_App/Images/wood1.jpg"), url("/Images/wood1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.handsimages1{
  width: 1000px;
  margin-left: auto;
}
.quizhand1{
  width: 1000px;
  margin-right: auto;
}
.handimages{
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

.featurecards{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  margin:auto;
}
.flip-card {
  margin-left: 30px;
  margin-right: 30px;  
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flipcardinner {
  transform: rotateY(180deg);
}
.flipcardfront, .flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flipcardfront {
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flipcardback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #564230 !important;
  font-size: 30px !important;
  font-family: 'Roboto', sans-serif;
  background-color: #D6E5DA;
  color: white;
  transform: rotateY(180deg);
}
h2{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}
H3{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  color: #564230
}
.storebutton{
  width: 300px;
}
.footer{
  margin-top: 300px;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 600px;
  margin-right: 600px;
}