body{
  background-color: #ABB7AE;
}
.logo{
  width: 500px;
}
.logodiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
h1:hover{
  text-decoration:underline;
}
.introductions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.bodyofthepage{
  background-image: url('/Images/wood1.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

